# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List the common libraries used for Data Science
- Create a table for Data Science  Tools
- Evaluate Arithmetic Expressions in Python along with necessary comments
- Convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R Programming
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras
4. Matplotlib
5. Tensorflow

|   Data Science Tools   |
----------------------------------
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
print(hours)

3.3333333333333335

## Author
Sirisha V Ramana